.btn {
    border: none;
    border-radius: 6px;
    padding: 10px 8px;
    width: 60%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.primary {
    background-color: var(--color-primary);
    color: var(--color-dark-1);
}
.back {
    background-color: transparent;
    color: var(--color-light-1);
    border: 2px solid var(--color-light-1);
}
.position {
    background-color: var(--color-primary);
    color: var(--color-dark-1);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

@media (min-width: 768px) {
    .btn {
        padding: 10px 16px;
        width: fit-content;
        font-size: 15px;
    }
}