.sidebar {
    background-color: var(--color-dark-2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 15px;
    height: 70vh;
    width: 100%;
    overflow-y: auto;
    box-shadow: var(--shadow);
}

footer {
    margin-top: auto;
}
footer p {
    font-size: 13px;
    color: var(--color-light-2);
}

@media (min-width: 768px) {
    .sidebar {
        margin: 0;
        padding: 30px;
        height: calc(100vh - 10px);
        width: 50%;
    }
}