.user {
    background-color: var(--color-dark-2);
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 10px 14px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    box-shadow: var(--shadow);
    z-index: 999;
}
.user img {
    border-radius: 50%;
    width: 40px;
}
.user button {
    background-color: var(--color-dark-3);
    color: var(--color-light-1);
    border: none;
    border-radius: 7px;
    padding: 6px 12px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}